@import '../../../assets/styles/theme.scss';

.content-panel-breed__content {
  margin-top: 15px;
}

.content-panel-breed__image {
  width: 640px;
  height: 360px;
  overflow: hidden;
  border-radius: 20px;
  img {
    width: 100%;
    height: auto;
  }
}

.content-panel-breed__description {
  position: relative;
  margin-top: 50px;
  border: 2px solid rgba(var(--background-search), var(--background-search-opacity));
  border-radius: 20px;

  padding: 20px 40px 60px 40px;
}

.content-panel-breed__name {
  position: absolute;
  font-weight: 500;
  font-size: 36px;
  color: var(--color);
  display: block;
  background: var(--breeds-name-background);
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  top: -30px;

  width: fit-content;
  padding: 0 20px;
}

.content-panel-breed__family {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #8C8C8C;
  text-align: center;
}

.content-panel-breed__detailed {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.content-panel-breed__list {
  list-style: none;
}

.content-panel-breed__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: var(--color);
}

.content-panel-breed__subtitle {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #8C8C8C;
  
  &--relocate {
    display: block; 
    max-width: 260px;
  }
}
