@import '../../../assets/styles/theme.scss';

.content-panel-breed__content {
	margin-top: 15px;
}

.content-panel-breed__image {
	overflow: hidden;

	width: 640px;
	height: 360px;

	border-radius: 20px;

	img {
		width: 100%;
		height: auto;
	}
}

.content-panel-breed__description {
	position: relative;

	margin-top: 50px;

	padding: 20px 40px 60px 40px;

	border: 2px solid rgba(var(--background-search), var(--background-search-opacity));
	border-radius: 20px;
}

.content-panel-breed__name {
	position: absolute;
	top: -30px;
	left: 50%;

	display: block;

	width: fit-content;
	padding: 0 20px;

	transform: translate(-50%);
	text-align: center;

	color: var(--color);
	background: var(--breeds-name-background);

	font-size: 36px;
	font-weight: 500;
}

.content-panel-breed__family {
	text-align: center;

	color: #8C8C8C;

	font-size: 20px;
	font-weight: 500;
	line-height: 29px;
}

.content-panel-breed__detailed {
	display: flex;
	justify-content: space-between;

	margin-top: 20px;
}

.content-panel-breed__list {
	list-style: none;
}

.content-panel-breed__title {
	color: var(--color);

	font-size: 16px;
	font-weight: 500;
	line-height: 23px;
}

.content-panel-breed__subtitle {
	color: #8C8C8C;

	font-size: 16px;
	font-weight: 400;
	line-height: 23px;

	&--relocate {
		display: block;

		max-width: 260px;
	}
}
