@import '../../../assets/styles/theme.scss';

.welcome {
	padding-top: 80px;
}

.title {
	color: var(--color);

	font-size: 58px;
	font-weight: 500;
}

.subtitle {
	display: block;

	color: #8C8C8C;

	font-size: 20px;
	font-weight: 400;
}
