@import '../../../assets/styles/theme.scss';

.content-panel-breeds__header {
	display: flex;
	align-items: center;
}

.content-panel-breeds__sort {
	width: 40px;
	height: 40px;
	margin-right: 10px;

	border: 2px solid transparent;
	border-radius: 10px;
	background-color: rgba(var(--select-input-background), var(--background-plug-opacity));

	&:hover {
		border: 2px solid rgba(var(--background-search), var(--background-search-opacity)) !important;
	}

	&.is-active {
		& > * {
			fill: #FF868E;
		}
	}
}
