@import '../../assets/styles/theme.scss';

.header {
	display: flex;

	margin-bottom: 10px;
}

.header__search {
	position: relative;

	margin-right: 10px;

	border-radius: 20px;
	background-color: rgba(var(--white), var(--background-plug-opacity));

	& > button {
		background-color: rgba(var(--background-search), var(--background-search-opacity));
	}
}

.header__input {
	width: 470px;
	height: 60px;
	padding-right: 60px;
	padding-left: 20px;

	color: #8C8C8C;
	border: none;
	border-radius: 20px;
	background-color: rgba(var(--white), var(--background-plug-opacity));

	font-size: 18px;
	font-weight: 300;

	&:focus {
		outline: none;
	}
}

.header__button {
	position: absolute;
	top: 50%;
	right: 10px;

	transform: translateY(-50%);
}

.header__icons {
	display: flex;

	list-style: none;
}

.header__icon {
	&:not(:last-child) {
		margin-right: 10px;
	}

	& > button {
		background-color: rgba(var(--white), var(--background-plug-opacity));
	}
}
