@import '../../../assets/styles/theme.scss';

.content-panel-plug {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	border-radius: 20px;
	background-color: rgba(var(--background-plug), var(--background-plug-opacity));
}
