@import '../../assets/styles/theme.scss';

.loading-spinner {
  padding: 30px;

  .css-0 {
    display: flex;
    justify-content: center;
    & > span {
      background-color: var(--color);
    }
  }
}
