@import '../../../assets/styles/theme.scss';

.content-panel-voting {
  width: 100%;
  padding: 20px;
  background-color: rgba(var(--white), var(--background-plug-opacity));
  border-radius: 20px;
}

.content-panel-voting__header {
  position: relative;
  margin-top: 20px;

  div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 360px;
    border-radius: 20px;
  }
}

.content-panel-voting__buttons,
.content-panel-voting__actions {
  list-style: none;
  padding-left: 0;
}

.content-panel-voting__buttons {
  border: 4px solid var(--main-background);
  background-color: var(--main-background);
  border-radius: 24px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -36px;
}

.content-panel-voting__actions {
  padding: 0 10px;
  margin-top: 59px;
  margin-bottom: 10px;
  max-height: 275px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(#F8F8F7, var(--background-plug-opacity));
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--main-background);
    border: 2px solid var(--main-background);
    border-radius: 2px;
  }
}

.content-panel-voting__action {
  display: flex;
  align-items: center;

  background-color: rgba(#F8F8F7, var(--background-plug-opacity));
  border-radius: 10px;
  width: 100%;
  height: 60px;

  font-size: 16px;
  line-height: 24px;

  color: #8C8C8C;

  padding: 15px;
  margin-bottom: 10px;
}

.content-panel-voting__time {
  padding: 3px 10px;
  color: var(--color);
  margin-right: 30px;
  background-color: var(--main-background);
  border-radius: 5px;
}

.content-panel-voting__id {
  color: var(--color);
  font-weight: 500;
  padding: 0 3px;
}

.content-panel-voting__icon {
  margin-left: auto;
}

.css-0 {
  display: flex;
  justify-content: center;
  & > span {
    background-color: var(--color);
  }
}