@import '../../assets/styles/theme.scss';

.switch-theme {
  cursor: pointer;
  display: flex;
  border: none;
  background-color: transparent;

  align-items: center;
}

.switch-theme__circle {
  display: block;
  margin-left: 5px;
  position: relative;
  width: 44px;
  height: 24px;
  background-color: rgba(#FBE0DC, var(--background-plug-opacity));
  border-radius: 12px;
  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #FF868E;
    border-radius: 50%;
    top: 4px;
    right: 4px;
  }
}

.switch-theme__circle.active::before {
  transform: translateX(-120%);
}

.switch-theme__image {
  background-color: rgba($color: var(--white), $alpha: var(--background-plug-opacity));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 27px;
  height: 24px;
}