@import '../../../assets/styles/theme.scss';

.content-panel-gallery__header {
  display: flex;
  justify-content: space-between;
}

.content-panel-gallery__upload {
  background-color: rgba(var(--background-search), var(--background-search-opacity));
  display: flex;
  align-items: center;
  justify-content: center;

  span { padding-left: 5px; }
}

.content-panel-gallery_selects {
  margin-top: 20px;
  padding: 10px 20px;

  background: rgba(var(--select-input-background), var(--background-plug-opacity));
  border-radius: 20px;
}