@import '../../../assets/styles/theme.scss';

.content-panel-gallery__header {
	display: flex;
	justify-content: space-between;
}

.content-panel-gallery__upload {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(var(--background-search), var(--background-search-opacity));

	span { padding-left: 5px; }
}

.content-panel-gallery__selects {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-top: 20px;
	padding: 10px 20px;

	border-radius: 20px;

	background-color: rgba(var(--select-input-background), var(--background-plug-opacity));

	.select-input {
		margin-bottom: 10px;

		background-color: var(--select-input-gallery);
	}
}

.content-panel-gallery__list {
	display: grid;
	overflow: auto;

	max-height: 705px;
	margin-top: 20px;
	padding-right: 20px;

	list-style: none;
	grid-template-columns: repeat(3, minmax(140px, 200px));
	gap: 20px 20px;
}

.content-panel-gallery__favourite {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	opacity: 0;
	background-color: rgba(255, 134, 142, 0.6);
}

.content-panel-gallery__item {
	position: relative;

	display: block;
	overflow: hidden;

	min-width: 200px;
	min-height: 140px;

	cursor: pointer;

	border-radius: 20px;

	&:hover .content-panel-gallery__favourite {
		opacity: 1;
	}
}

.content-panel-gallery__image {
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.content-panel-gallery__reload {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 8px;

	background-color: var(--select-input-gallery);
}
