@import '../../../../assets/styles/theme.scss';

.content-panel-gallery-select__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #8C8C8C;
  padding-left: 10px;
  text-transform: uppercase;
}