@import '../../../../assets/styles/theme.scss';

.content-panel-gallery-select__title {
	padding-bottom: 2px;
	padding-left: 10px;

	text-transform: uppercase;

	color: #8C8C8C;

	font-size: 12px;
	font-weight: 500;
}
