.management-list__title {
  color: #1D1D1D;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.management__items {
  margin-top: 20px;
  list-style: none;
  display: flex;
}

.management__item:not(:last-child) {
  margin-right: 16px;
}