@import '../../../assets/styles/theme.scss';

.control-list {
  margin-top: 60px;
}

.control-list__title {
  color: var(--color);
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.control-list__items {
  margin-top: 20px;
  list-style: none;
  display: flex;
}

.control-list__item:not(:last-child) {
  margin-right: 16px;
}